# Ignorar estas pastas
__pycache__/
venv/
logs/
data/
temp_api/

# Ignorar estes arquivos
*.pyc
*.pyo
*.pyd
.env
.DS_Store

# MANTER tudo o resto (cliente/, requirements/, *.bat, etc.)

git remote add origin https://github.com/EduMutinelli/meu-erp.git